@media (min-width: 300px) {
    .one-class{
        text-align: center ;
    }
    .imput-textb{
        text-align: center ;
        width: 500px;
    }
    .holo{
        text-align: center;
    }
    .solitario{
        text-align: center;
    }
    
    .penultimo{
        text-align: center;
    }
    .final{
        text-align: center;
    }
}

@media (min-width: 576px) { 
    .one-class{
        text-align: center ;
    }
    .imput-textb{
        text-align: center ;
        width: 500px;
    }
    
    .solitario{
        text-align: center;
    }
    .holo{
        text-align: center;
    }
    .penultimo{
        text-align: center;
    }
    .final{
        text-align:center;
    }
}


@media (min-width: 768px) {
    .one-class{
        text-align: end;
    }
    .two-class img{
        height: 70%;
        width: 70%;
    }
    .imput-textb{
        text-align: center ;
    }
    .final{
        text-align: left  }
    .penultimo{
        text-align: left;
    }
    .holo{
        text-align: left;
    }

}


@media (min-width: 992px) {
    .one-class{
        text-align: end;
    }
    .final{
        text-align: left;
    }

    .penultimo{
        text-align: left;
    }
    .holo{
        text-align: left;
    }
}


@media (min-width: 1200px) {
    .one-class{
        text-align: end;
    }
    .final{
        text-align: left;
    }
    .penultimo{
        text-align: left;
    }
    .holo{
        text-align: left;
    }

}


@media (min-width: 1400px) {
    .one-class{
        text-align: end;
    }
  .final{
    text-align: left;
  }
  .penultimo{
    text-align: left;
}
.holo{
    text-align: left;
}

}

@media (min-width: 2500px) {
    .one-class{
        text-align: end;
    }
    .final{
      text-align: left;
    }
    .penultimo{
        text-align: left;
    }
    .holo{
        text-align: left;
    }
  }