@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

body{
    font-family: 'Bebas Neue', cursive;
    background-image: linear-gradient(90deg, rgb(0 182 255 / 51%) 0%, rgb(4 0 255 / 54%) 35%), url(./image/fon3.svg);
    background-repeat: no-repeat; 
    background-size: cover;
}

.form-control{
    width:40px;
}


.item-footer ul>li {
    text-decoration: none;
    list-style: none;
}

.item-footer ul>li>a {
    color: black;
    text-decoration: none;
}

.section-one{
    background-image: linear-gradient(90deg, hsl(239deg 100% 50% / 58%) 0%, hsl(246deg 100% 50% / 22%) 35%),url(./image/fon2.svg);
    background-repeat: no-repeat; 
    background-size: cover;
}

.section-two{
    background-image: linear-gradient(90deg, hsl(239deg 100% 50% / 58%) 0%, hsl(246deg 100% 50% / 22%) 35%),url(./image/fon2.svg);
    background-repeat: no-repeat; 
    background-size: cover;
}

.header-fond{
    background-image: linear-gradient(90deg, hsl(211deg 100% 50% / 62%) 0%, hsl(91deg 100% 50% / 48%) 35%),url(./image/fondo-header.jpg);    
}

.section-three{
    background-image: linear-gradient(90deg, hsl(239deg 100% 50% / 58%) 0%, hsl(246deg 100% 50% / 22%) 35%),url(./image/fon2.svg);
    background-repeat: no-repeat; 
    background-size: cover;
}

.header-image img{
    width: 440px;
    height: 350px;
}

.solitario{
    background-image: linear-gradient(90deg, rgb(0 182 255 / 51%) 0%, rgb(4 0 255 / 54%) 35%), url(./image/fon4.svg);
    background-repeat: no-repeat; 
    background-size: cover;
}

.section-twott{
    background-color: white;
}

.field{
    background-image: linear-gradient(90deg, rgb(0 182 255 / 51%) 0%, rgb(4 0 255 / 54%) 35%), url(./image/fon3.svg);
    
}